@import "tailwindcss";

*{
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

.br {
  border:2px solid red;
}

.bb{
  border:2px solid black;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.infinite-scroll {
  animation: slide 12s linear infinite;
}
